body{
    margin-left: 10%;
    margin-right: 10%;
}

.Header{
    max-width: fit-content;     
    margin-inline: auto;
}

.Section{
    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: beige;
    border-radius: 15px;
}

.Employment{
    margin-left: 15px;
}

.Education{
    margin-left: 15px;
}
